<%- include('partials/header.ejs'); %>

<h1>About our comany!</h1>

<p>We got glazed, chocolete iced, raspberry filled, chocolete iced glazed, chocolete cake, powdered cake, and about three dozen other flavors to satisfy your sugar craving</p>

<%- include('partials/footer.ejs') %> 