<%- include('partials/header.ejs'); %>

 <h6>Got suggestions on new donuts flavours? Shoot us a message thanks!

 </h6>
    <form action="/action_page.php">
        <textarea comment>Comment...</textarea>
            <br>
        <input type="submit" value="Submit">
    </form> 

        <%- include('partials/footer.ejs') %> 