h1 {
    border: 5px solid red;
}

.Cat {
    background: black;
}

#Dog {
    color: white;
    width: 25%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

#Mouse {
    color: yellow;
    border: 5px dashed blue;
    width: 200px;
    padding-right: 100px;
}

#Bird {
    color: lightgreen;
    border: 5px ridge green;
    width: 50vw;
    text-align: right;
    margin: center;
    margin-top: 100px;
    margin-bottom: 0;
    padding-bottom: 100px;
    padding-right: 100px;
}

#Horse {
    color: orange;
    margin: center;
    padding: 100px 0 0 100px;
}