.text {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 35%;
    left: 35%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 45%;
    font-size: 54px;
    font-weight: 900px;
    text-indent: 80px;
    text-align-last: center;

}