body {
    text-align: center;
    margin: auto;
    background-color: lightskyblue;
}
#currencies {
    margin: 50px;
}

button {
    height: 70px;
    width: 200px;
    border: 2px solid white;
    background: blue;
    color: white;
    border-radius: 20px;
    
}


h1 {
    font-family: 'Merriweather', serif;
 font: 100px;
}
