<h1>Form Page</h1>

<p><a href="/results">Results page</a></p>

<form action="/getdata">
  <label>
    First Name:
    <input type="text" name="fname" autocomplete="off">
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" name="lname" autocomplete="off">
  </label>
  <br>
  <label>
    Age:
    <input type="number" name="age" id="">
  </label>
  <br>
  <label>
    Is Alive:
    <input type="radio" name="isAlive" value="alive" checked>Alive
    <input type="radio" name="isAlive" value="dead">Deceased

  </label>



  <button type="submit">Submit</button>
</form>