
<h1>This is a Horse Page</h1>

<% let dog = ["bulldog", "boston terrier"] %>

<% dog.forEach(el => { %>
  <h4>
    <%= el %>
  </h4>
<% }) %>

<% dog.forEach(element => { %>
  <h4><%= element %></h4>
<% }) %>

